<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sva.dao.WeixinDao">

	<select id="getAccountByOpenid" resultType="AccountModel">
		SELECT * FROM
		sys_account WHERE openid = #{openid}
	</select>

	<update id="login">
		update sys_account set openid=#{openid} where
		username=#{username} and password=#{password}
	</update>

	<update id="logout">
		update sys_account set openid='' where
		openid=#{openid}
	</update>

	<select id="getFuList" resultType="FuModel">
		select id,remainCount,weight
		from sys_fu where remainCount!=0
	</select>

	<update id="changeOneFu">
		update sys_fu set remainCount=remainCount+#{one}
		where id=#{id}
	</update>

	<update id="userGetOneFu">
		update sys_account set
		${columnName}=${columnName}+1,remainRandomCount=remainRandomCount-1,nextRandomTime=#{nextRandomTime}
		where openid=#{openid}
	</update>

	<select id="getUserFus" resultType="AccountModel">
		select
		fu1,fu2,fu3,fu4,fu5,remainRandomCount,nextRandomTime from sys_account
		where openid=#{openid}
	</select>

	<select id="getUserInfo" resultType="AccountModel">
		select * from sys_account
		where openid=#{openid}
	</select>

	<update id="compoundOneFu">
		update sys_account set
		fu1=fu1-1,fu2=fu2-1,fu3=fu3-1,fu4=fu4-1,fu5=fu5+1 where
		openid=#{openid}
	</update>
	
	<select id="getAccountByUsername" resultType="AccountModel">
		SELECT * FROM
		sys_account WHERE username = #{username}
	</select>
	
	
	<update id="giveOneFu">
		update sys_account set
		${columnName}=${columnName}-1 where
		 username=#{username} and openid=#{openid}
	</update>
	
	<update id="acceptOneFu">
		update sys_account set
		${columnName}=${columnName}+1 where username=#{username}
	</update>
</mapper>